@import url(boot.css);
@import url(desktop.css);
@import url(forms.css);
@import url(modal.css);
@import url(profile.css);
@import url(projects.css);
@import url(taskbar.css);
@import url(window.css);

:root {
    --green-1: #008080;
    /* verde actual (teal) */
    --green-2: #006666;
    /* verde más oscuro */
    --blue-acc: #000080;
    --gray-1: #c0c0c0;
    --white: #ffffff;
    --black: #000000;
}

/* General body styles con fondo cuadriculado */
body {
    font-family: 'VT323', monospace;
    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    /* Fondo de cuadros en dos tonos de verde */
    background-color: var(--green-2);
    background-image: --green-1;
    background-size: 40px 40px;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        overflow: auto;
        height: auto;
        min-height: 100vh;
    }
}


